<div class="container tpd5">
  <div class="row">
    <div class="console-out col-lg-8">
      <div class="screen">
        <div class="top-bar">
          <!-- kalilinux.exe -->
          <!-- <span>{{progress}}</span> -->
          <!-- % repaired -->
        </div>
        <hr>
        <div *ngIf="question" class="bottom-bar">
          <div *ngIf="question.type == 2">
            <div class="d-flex align-items-center justify-content-center">
              <button *ngIf="butstr" class="msgbtn mi btnstr" (click)="showmsg()">You have a new message !!!!</button>
            </div>
            <div class="boundary">
              <span #story id='story'></span><br><br>
              <button *ngIf="showbutstr" class="msgbtn mi mx-auto" (click)="submit('ok')">Enough Talking</button>
            </div>
          </div>
          <div *ngIf="question.type == 3">
            <div *ngFor="let quest of question.data">
              <div class="select-block mi row" (click)="split(quest.next_quest)">
                <div class="col-3">
                  <img src="{{quest.image}}" height="100%" width="100%" alt="">
                </div>
                <div class="col-9 av-text">
                  {{quest.text}}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="question.type == 4" class="mx-auto">
            <!-- change points code in php -->
            <div class="d-flex align-items-center justify-content-center">
                <button *ngIf="showcong" class="msgbtn mi showcon" (click)="showcongo()">You have a new message !!!!</button>
              </div>
            <div *ngIf="showcontinue" class="d-flex align-items-center justify-content-center">
              <button class="msgbtn mi btnstr av-continue" (click)="submit('ok')">Continue</button>
            </div>
            <div *ngIf="!showcong" class="av-container">
              <div class="screen-content">
                
                  <p #cstory id="cstory" class="congrats"></p>
              
              </div>
            </div> 
            
          </div>
          <div *ngIf="question.type == 0">
            <div [innerHTML]="question.question">
            </div>
            <input type="text" name="" value="" class="form-control bg-trans-hack" [(ngModel)]="answer" placeholder="Enter your answer"><br>
            <button class="msgbtn mi mx-auto" (click)="submit(answer)">Sure ?</button>
          </div>
          <div *ngIf="question.type == 1" class="mx-auto">
            <div *ngIf="loading" class="loading-que mx-auto">
              Loading Question.....
              <div class="loading">
                <div class="loading-bar"></div>
              </div>
            </div>
            <img [hidden]="loading" (load)="onLoad()" src="{{question.question}}" alt="failed to load image" width="70%" height="100%" class="img-mid"><br>
            <input type="text" name="" value="" class="form-control bg-trans-hack" [(ngModel)]="answer" placeholder="Enter your answer"><br>
            <button class="msgbtn mi mx-auto" (click)="submit(answer)">Sure ?</button>
          </div>
        </div>
        <div *ngIf="transmission" class="trans-pad">
          Transitting Data Through VPN
          <div class="loading">
            <div class="loading-bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <app-leader></app-leader>
    </div>
  </div>
</div>
