hr{
  color: #f2ae24;
  // color: #b03114;
  margin: 0%;
  border-color: #f2ae24;
  // border-color: #b03114;
  width: 95%;
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 1%;
}
