.av-marg {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

a {
    // color: #33fe33;
    color: #f2ae24;
    text-decoration: underline;
}

@font-face {
    font-family: norse;
    src: url(../../../assets/webfonts/norse.ttf);
  }
  
  div{
    font-family: norse;
  }