<div
  *ngIf="!validate"
  style="color: #f2ae24"
  class="container text-center av-marg"
>
  Deciding if you are worthy enough
</div>
<div
  *ngIf="validate"
  style="color: #f2ae24"
  class="container text-center av-marg"
>
  Congratulations your are victorious but are you the first one to come here
  ??<br />
  Check if you are the real winner on the IEEE
  <a href="https://www.facebook.com/IEEE.VESIT/" target="_blank">fb</a> or
  <a href="https://www.instagram.com/ieee_vesit/" target="_blank">insta</a>
  page.
</div>
